body{
  display: flex;
  justify-content: center;
  text-align: center;
}



#wrapper{
background-color: rgb(100, 159, 174);
color: black;
border-radius: 15px;
padding: 15px;
width: 40vw;
height: 60vh;
}

form{
  text-align-last: center;
}
input{
  padding: 5px;
}
#submit{
  background-color: red;
  border: none;
  padding: 5px;
  color :black;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

#newGame{
  background-color: rgb(24, 199, 222);
  border: none;
  padding: 5px;
  color :black;
  border-radius: 10px;
  cursor: pointer;
}

#submit:hover{
 color: white;
 font-size: 20px;
}
.result{
  margin-top: 10px;
text-align: center;
padding: 20px;
background-color: blanchedalmond;
}